/* STYLE.CSS STRUCTURE
		=========================================================================== */

/**
 * - COMMON STYLES
 * I. HEADER
 * II. MAIN
 * III. CATALOG
 * IV. TOYS
 * V. BLOG
 * VI. CONTACT US
 * VII. FOOTER
 * VIII. POPUP
*/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	color: #1e0606;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	padding: 0;

	/*
	Для учебного проекта
	*/
	min-width: 1220px;
}

.visually-hidden:not(:focus):not(:active) {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.title-h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	margin: 0;
}

.title-h2,
.title-h2 a {
	color: #1e0606;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 38px;
	line-height: 47px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
}

.title-h3 {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1220px;
}

.btn {
	background: #000;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	padding: 9px 22px;
	min-height: 40px;

	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	/*line-height: 40px;*/
	/*height: 40px;*/
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;

	max-width: 280px;

	/*
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	*/
}

	.btn:hover {
		background: #C29974;
	}

	.btn:active {
		background: #C29974;
		opacity: 0.5;
	}

	.btn:disabled {
		opacity: 0.2;
	}

/* I. HEADER
    ========================================================================== */

.header {
	padding: 50px 0 40px;
}

.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.header-logo {
	text-decoration: none;
	height: 52px;
	margin-right: 50px;
}

.header-nav-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
}

	.header-nav-list li {
		font-size: 14px;
		line-height: 19px;
		text-transform: uppercase;
		margin: 0 10px;
	}

		.header-nav-list a {
			color: #1e0606;
			font-size: 14px;
			line-height: 19px;
			text-decoration: none;
			text-transform: uppercase;
		}

.header-aside {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-left: auto;
}

	.search {
		margin-right: 24px;
	}

		.search-input {
			display: none;
		}

		.search-button {
			background: url('../img/icons/icon-search.svg') no-repeat 50% 50%;
			border: none;
			box-sizing: border-box;
			padding: 0;
			position: relative;
			height: 18px;
			width: 17px;
			top: -3px;
		}

	.header-contacts {
		color: #1e0606;
		font-size: 14px;
		font-weight: bold;
		line-height: 19px;
		text-transform: uppercase;
		text-decoration: none;
	}

a.header-logo:hover,
.header-nav-list a:hover,
.search-button:hover,
.header-contacts:hover:not(.header-contacts-not-active) {
	opacity: 0.5;
}

a.header-logo:active,
.header-nav-list a:active,
.search-button:active,
.header-contacts:active:not(.header-contacts-not-active) {
	opacity: 0.2;
}

/* II. MAIN
		========================================================================== */

/**
 * 0. Slider
 * 1. Categories
 * 2. Delivery
 * 3. Partners
 * 4. Main-bottom
*/

/* 0. Slider
	========================================================================== */

.slider {
	position: relative;
	margin: 0 0 45px;
}

.slider-slide {
	background: #EEE4DB;
	box-shadow: inset 0 89px #fff;
	height: 500px;
	width: 100%;
}

.slider-slide-second {
	background: #daedde;
}

.slider-slide-third {
	background: #dfdaed;
}

.slider-slide-fourth {
	background: #eddada;
}

.slider-slide-wrapper {
	display: flex;
	flex-direction: row;
}

.slider-counter {
	color: rgba(30, 6, 6, 0.05);
	font-family: "Montserrat", sans-serif;
	font-size: 60px;
	font-weight: 300;
	line-height: 73px;

	margin: 106px 22px 0 28px;
}

.slider-slide-info {
	/*width: 307px;*/
	margin: 178px 5px 0 22px;
}

	.slider-slide-title {
		display: block;
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 44px;
		text-transform: uppercase;

		max-width: 307px;
		margin: 0 0 20px;
	}

	.slider-slide-description p {
		font-family: "Crimson Text", serif;
		font-size: 20px;
		font-style: italic;
		line-height: 25px;

		margin: 0 0 20px;
	}

.slider-slide-img {
	height: 461px;
}

	.slider-slide-img img {
		max-width: 100%;
	}

.slider-notification {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	text-align: center;
	background: rgba(194, 153, 116, 1);

	width: 100%;
	padding: 12px 0;
	position: absolute;
	bottom: 0;
}

.slider-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 190px;
	left: 31px;
}

	.slider-nav li {
		line-height: 0;
	}

	.slider-nav-btn {
		display: inline-flex;
		background: rgba(214, 202, 194, 1);
		border: none;
		border-top: 3px;
		border-radius: 0;
		cursor: pointer;

		width: 31px;
		min-height: 3px;
		margin: 0 0 11px;
	}

	.is-active {
		background: rgba(30, 6, 6, 0.6);
	}

	.slider-nav-btn:hover {
		background: rgba(30, 6, 6, 0.6);
	}

/* 1. Categories
	========================================================================== */

.categories {
	padding: 45px 0;
}

.categories-container {
	width: 100%;
}

.categories-title {
	display: inline-block;
	margin-bottom: 30px;
}

.products-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0 0 7px;
}

	.products-list-item {
		margin: 0 20px 23px 0;
	}
	
	.products-list-item:nth-child(4n+4) {
		margin-right: 0;
	}

	.products-list-item-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 280px;
		height: 270px;
	}

		.products-list-item-wrapper img {
			max-width: 100%;
		}

		.products-list-item-wrapper h3 {
			max-width: 200px; 
			position: absolute;
		}

	.bg-green {
		background-color: #DBE4DB;
	}

	.bg-orange {
		background-color: #EADDD3;
	}

	.bg-yellow {
		background-color: #F8F2DA;
	}

	.bg-violet {
		background-color: #D5D4E1;
	}

	.bg-pink {
		background-color: #F3D0DB;
	}

	.bg-blue {
		background-color: #E5EAF8;
	}

.products-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

	.products-nav-btns {
		display: flex;
		flex-direction: row;
		padding-top: 3px;
		margin-right: 20px;
	}
		
		.products-nav-btn {
			background-color: rgba(112, 187, 220, 0.2);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			border: none;
			cursor: pointer;
			width: 37px;
			height: 37px;
			padding: 0;
			margin-right: 6px;
		}

		.products-nav-btn:last-child {
			margin: 0;
		}

		.products-nav-btn-prev {
			background-image: url('../img/icons/btn-previous.svg');
		}

		.products-nav-btn-next {
			background-image: url('../img/icons/btn-next.svg');
		}

	.products-nav-text {
		max-width: 550px;
		margin: 0;
	}

.categories-title:hover {
	opacity: 0.5;
}

.categories-title:active {
	opacity: 0.2;
}

.products-list-item h3:hover {
	text-decoration: underline;
}

.products-nav-btn:hover {
	background-color: #EEE4DB;
}

.products-nav-btn:active {
	background-color: #EEE4DB;
	opacity: 0.5;
}

/* 2. Delivery
	========================================================================== */

.delivery {
	padding: 45px 0;
}

.delivery-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}

.delivery-img {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	max-width: 480px;
	max-height: 559px;
}

.delivery-aside {
	max-width: 540px;
	padding-left: 60px;
	margin: 30px auto auto 60px;
}

	.delivery-title {
		margin: 0 0 6px;
	}

	.delivery-list {
		list-style: none;
		padding: 0;
		margin: 0 0 18px -60px;
	}

		.delivery-list a {
			display: inline-flex;
			color: #1e0606;
			font-family: "Crimson Text", serif;
			font-size: 26px;
			font-style: italic;
			line-height: 32px;
			text-decoration: none;
			min-height: 55px;
			min-width: 326px;
			padding: 11px 60px;
		}

		.delivery-list a:hover {
			background-color: rgba(112, 187, 220, 0.2);
			font-weight: bold;
		}

		.delivery-list-item-active {
			background-color: rgba(112, 187, 220, 0.2);
			font-weight: bold;
		}

	.delivery-aside p {
		margin: 0 0 15px;
	}

	.learn-more-btn {
		margin: 11px auto 0 0;
	}

/* 3. Partners
	========================================================================== */

.partners {
	padding: 45px 0 25px;
}

.partners-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.partners-list-wrapper {
	overflow: hidden;
}

.partners-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	/*justify-content: space-between;*/
	align-items: center;
	list-style: none;
	/*width: 100%;*/
	min-height: 61px;
	padding: 0;
	margin: 0;
	/*margin: 0 -63px;*/
}

	.partners-list li {
		display: flex;
		flex-direction: row;
		/*min-width: 216px;*/

		/*
		Если ставлю минимальную ширину по самому
		большему элементу, то в строчку влезает только 3 из 4
		*/

		margin: 0 127px 20px 0;
		/*margin: 0 63px 20px;*/
	}

	/*.partners-list li:last-child {
		margin-right: auto;
		/*margin: 0;
	}*/

	.partners-list li:nth-child(4n) {
		margin-right: auto;
		/*margin: 0;*/
	}

		.partners-list img {
			opacity: 0.8;
		}

	/*
	В общем я оставил подход с flex-start и отступами српава,
	но пока без учета других разрешений

	Подход с отрицательными отступами мне больше понравился,
	но из за space-between проблему не удалось решить с помощью
	:last-child {margin: 0} или {margin: auto}, так как без переполнения 4-й (последний логотип)
	обрезается визуально.
	Если элементов больше 4-х то подход работает.
	*/

.partners-list a:hover {
	opacity: 0.6;
}

.partners-list a:active {
	opacity: 0.3;
}

/* 4. Main-bottom
		========================================================================== */

/**
 * 4.1. Design Life Kids
 * 4.2. Contacts
*/

.main-bottom {
	padding: 60px 0 147px;
	/*
	Пришлось увеличить паддинги пропорцианально
	отрицательным марджинам
	*/
}

.main-bottom-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

	.main-bottom-col {
		background-color: #e1f0f7;
		max-width: 543px;
		padding: 0 30px;
	}

		.main-bottom-title {
			margin: -20px 0 20px;
		}

		.main-bottom-text {
			margin: 0 0 20px;
		}

/* 4.1. Design Life Kids
    ========================================================================== */

.dlk-aside-container {
	margin: 0 57px 0 0;
}

.dlk-aside-title {
	margin-bottom: 10px;
}

.dlk-aside-subtitle {
	font-family: "Crimson Text", serif;
    font-size: 26px;
    font-style: italic;
    font-weight: normal;
    line-height: 32px;
	margin: 0 0 10px;
}

.dlk-aside-btn {
	margin: 0 0 35px;
}

/* 4.2. Contacts
    ========================================================================== */

/*.contacts-aside-container {
	margin: 0 0 auto;
}*/

.contacts-aside-map {
	overflow: hidden;
	max-height: 196px;
	margin: 0 0 -114px;
}

	.contacts-aside-map img {
		max-width: 100%;	
	}

/* III. CATALOG
		========================================================================== */

/**
 * 1. Content-header
 * 2. Breadcrumbs
 * 3. Catalog
 * 4. Text-content
*/

/* 1. Content-header
	========================================================================== */

.content-header {
	padding-top: 20px;
}

/* 2. Breadcrumbs
	========================================================================== */

.breadcrumbs-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 15px 0 0;
}

	.breadcrumbs-list-item:not(:last-child):after {
		content: url(../img/icons/stroke-next.svg);
		margin: 0 20px;
	}

		.breadcrumbs-list-item,
		.breadcrumbs-list-item a {
			color: #1e0606;
			font-family: "Crimson Text", serif;
			font-size: 20px;
			font-style: italic;
			line-height: 25px;
			text-decoration: none;
		}

	.breadcrumbs-list-item:last-child {
		opacity: 0.5;
	}

.breadcrumbs-list-item a:hover:not(.breadcrumbs-list-item:last-child) {
	opacity: 0.5;
}

.breadcrumbs-list-item a:active:not(.breadcrumbs-list-item:last-child) {
	opacity: 0.2;
}

/* 3. Catalog
	========================================================================== */

.catalog {
	padding: 50px 0 27px;
}

.catalog-container {
	width: 100%;
	padding-right: 120px;
}

.catalog-list {
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0;
}

	/*.catalog-list li {
		margin-right: 20px;
	}
*/
	.catalog-list li:nth-child(n+4) {
		margin: 0 0 23px 20px;
	}

	.catalog-list li:nth-child(4) {
		margin-left: auto;
	}

/* 4. Text-content
	========================================================================== */

.text-content {
	padding: 5px 0 55px;
}

.text-content-container {
	padding-left: 220px;
}

	.text-content-container h2 {
		margin-bottom: 25px;
	}

	.text-content-container p {
		text-align: left;
		max-width: 670px;
		margin: 0 0 15px;
	}

	.text-content-container p:last-child {
		margin: 0;
	}

/* IV. TOYS
		========================================================================== */

/**
 * 1. Filters
 * 2. Product-cards
*/

/* 1. Filters
	========================================================================== */

.filters {
	background: rgba(125, 151, 218, 0.2);
	margin-top: 50px;
	padding: 42px 0;
}

.filters-form {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.filters-col {
	color: #1e0606;
	flex-shrink: 0;
	font-size: 16px;
	line-height: 22px;
	/*min-width: 200px;*/
}

.filters-col:nth-child(1) {
	margin-right: 108px;
}

.filters-col:nth-child(2) {
	margin-right: 124px;
}

.filters-col:nth-child(3) {
	margin-right: 70px;
}

.filters-col:nth-child(4) {
	margin-right: 62px;
}

	.filters-col-title {
		font-size: 16px;
		font-weight: bold;
		line-height: 22px;
		margin: 0 0 15px;
	}

	.filters-list,
	.filters-amount {
		list-style: none;
		margin: 0;
		padding: 0;
	}

		.filters-list li {
			margin-bottom: 15px;
		}

		.filters-col:nth-child(3) li {
			margin-bottom: 10px;
		}

		.filters-list li:last-child {
			margin-bottom: 0;
		}

	/*Input type range*/

	.custom-range {
		-webkit-appearance: none;
		width: 193px;
		background: transparent;
		position: relative;
		padding-left: 5px;
	}

		.custom-range::before {
			content: attr(min);
			position: absolute;
			top: 20px;
			left: 0;
		}

		.custom-range::after {
			content: attr(max);
			position: absolute;
			top: 20px;
			left: 180px;
		}
	  
		.custom-range::-webkit-slider-thumb {
			-webkit-appearance: none;
		}
		
		.custom-range:focus {
			outline: none;
		}
		
		.custom-range::-ms-track {
			width: 188px;
			cursor: pointer;
			
			background: transparent; 
			border-color: transparent;
			color: transparent;
		}

	/* Styles for the Thumb */
	
	/* Special styling for WebKit/Blink */

	.custom-range::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: #ffffff;
		border: 8px solid #C29974;
		border-radius: 100%;
		cursor: pointer;

		height: 24px;
		width: 24px;
		margin-top: -10px; /* For Chrome */
	}
	
	/* Styles for Firefox */

	.custom-range::-moz-range-thumb {
		border: 8px solid #C29974;
		height: 8px;
		width: 8px;
		border-radius: 100%;
		background: #ffffff;
		cursor: pointer;
	}
	
	/* Styles for IE */

	.custom-range::-ms-thumb {
		border: 8px solid #C29974;
		height: 24px;
		width: 24px;
		border-radius: 100%;
		background: #ffffff;
		cursor: pointer;
	}

.custom-range::-webkit-slider-thumb:hover {
	opacity: 0.9;
}

.custom-range::-moz-range-thumb:hover {
	opacity: 0.9;
}

.custom-range::-ms-thumb:hover {
	opacity: 0.9;
}

	/* Styles for the Track */

	#input-range {
		--slider-position: 25%;
	}

	.custom-range::-webkit-slider-runnable-track {
		background: linear-gradient(to right, #C29974 0, #C29974 var(--slider-position), #666 var(--slider-position), #666 100%);
		border-radius: none;
		cursor: pointer;
		width: 100%;
		height: 4px;
		/*transition: background 450ms ease-in;*/
	}
		
	.custom-range::-moz-range-track {
		width: 188px;
		height: 4px;
		cursor: pointer;
		background: #666;
		border-radius: none;
	}
		
	.custom-range::-ms-track {
		width: 188px;
		height: 4px;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		border-width: 16px 0;
		color: transparent;
	}

	/* Styles for range progress in Firefox */

	.custom-range::-moz-range-progress {
		background-color: #C29974;
		height: 4px;
	}

	/* Styles for range progress in IE */

	.custom-range::-ms-fill-lower {
		background-color: #C29974; 
	}

	.custom-range::-ms-fill-upper {  
		background-color: grey;
	}

		.custom-range:focus::-ms-fill-lower {
			background: #C29974;
		}

		.custom-range:focus::-ms-fill-upper {
			background: grey;
		}

	/* Filters input type checkbox & radio */

	.custom-checkbox,
	.custom-radio,
	.filters-amount input[type="radio"] {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}

	.custom-checkbox + label,
	.custom-radio + label {
		position: relative;
		padding: 0 0 0 29px;
		cursor: pointer;
	}

	.custom-checkbox + label::before,
	.custom-radio + label::before {
		background: #fff;
		border: 2px solid #c29974;
		border-radius: 3px;
		content: "";
		position: absolute;
		top: 1px;
		left: 0;
		height: 20px;
		width: 20px;
	}

	.custom-radio + label::before {
		border-radius: 100%;
	}

	.custom-checkbox:checked + label::before {
		background: #fff url("../img/icons/checkbox-checked.svg") no-repeat 100% 0;
		/*background-size: 12px 12px;*/
	}

	.custom-radio + label::after {
		content: "";
		border-radius: 100%;
		position: absolute;
		top: 5px;
		left: 4px;
		height: 12px;
		width: 12px;
	}

	.custom-radio:checked + label::after {
		background: #c29974;
	}

.custom-checkbox + label:hover,
.custom-radio + label:hover {
	text-decoration: underline;
}

.custom-checkbox:disabled + label,
.custom-radio:disabled + label {
	opacity: 0.5;
}

	/* Filters amount */

	.filters-amount {
		display: flex;
		flex-direction: row;
	}

		.filters-amount label {
			background: #fff;
			display: block;
			flex-shrink: 0;
			text-align: center;
			line-height: 35px;
			cursor: pointer;
			min-width: 80px;
		}

		.filters-amount input[type="radio"]:checked + label {
			background: #F3D0DB;
		}

	.filters-col .btn {
		margin: 37px 0 0;
	}

.filters-amount label:hover:not(.filters-amount input[type="radio"]:checked + label) {
	background: #F3D0DB;
	opacity: 0.5;
}

/* 4. Product-cards
	========================================================================== */

.product-cards {
	padding: 60px 0;
}

.product-cards-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

	.product-cards-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
	}

		.product-cards-item {
			text-align: center;
			max-width: 380px;
			margin: 0 20px 20px 0;
		}

		.product-cards-item:nth-child(3n+3) {
			margin-right: 0;
		}

		/*.product-cards-item:nth-child(n+4) {
			margin-top: 20px;
		}*/

			.product-cards-item-img {
				/*display: flex;
				flex-direction: row;
				justify-content: center;*/
				display: block;
				/*align-items: center;*/
				text-align: center;
				color: #000;
				text-decoration: none;
				/*height: 385px;*/
				/*margin: 0 0 30px;*/
				position: relative;
			}

				.product-cards-item-img-wrapper {
					display: flex;
					align-items: flex-start;
					height: 385px;
					margin-bottom: 30px;
				}

				/*.product-cards-item-img-wrapper img {
					margin-top: 3px
				}*/

				/*.product-cards-item-img-wrapper img {
					display: block;
					max-width: 100%;
					margin-bottom: 30px;
				}*/

				.product-cards-item-img img {
					display: block;
					max-width: 100%;
					margin-bottom: 30px;
				}

				/*.product-cards-item-active {
					display: none;
				}*/

			.product-cards-item-info {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

				.product-cards-title {
					font-family: "Open Sans", sans-serif;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					text-transform: uppercase;
					margin: 0 0 15px;
				}

					.product-cards-title a {
						color: #1e0606;
						text-decoration: none;
					}

				.product-cards-price {
					font-weight: bold;
					text-transform: uppercase;
					margin: 0 0 25px;
				}
				
.product-cards-item-img:hover .product-cards-item-active {
	display: block;
	color: #000;
	padding-top: 82px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	background: rgba(229, 234, 248, 0.6);
	width: 207px;
	height: 207px;
	position: absolute;
	top: 89px;
	left: 87px;
}

	/* Content pagination */

	.content-pagination {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 28px 0 0;
	}
		
		.content-pagination-arrow {
			position: relative;
		}

			.content-pagination-arrow .content-pagination-arrow-img {
				display: block;
			}

		.content-pagination-list {
			display: flex;
			flex-direction: row;
			list-style: none;
			max-width: 1150px;
			padding: 0;
			margin: 0 auto;
		}

			.content-pagination-list li {
				font-family: "Montserrat", sans-serif;
				font-weight: bold;
				line-height: 20px;
				margin: 0 33px;
			}

				.content-pagination-list a {
					color: #1e0606;
					text-decoration: none;
				}

			.content-pagination-list span {
				color: #C29974;
			}

.content-pagination-list a:hover {
	opacity: 0.5;
}

.content-pagination-list a:active {
	opacity: 0.25;
}

.content-pagination-arrow:hover .content-pagination-arrow-img-active {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.content-pagination-arrow:active .content-pagination-arrow-img-active {
	display: block;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
}

/* V. BLOG
    ========================================================================== */

.blog-articles {
	padding: 50px 0 60px;
}

.blog-articles-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

	.blog-articles-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

		.blog-article {
			max-width: 380px;
			padding-bottom: 20px;
			margin-bottom: 14px;
		}

			.blog-article-img {
				display: block;
				height: 220px;
				margin-bottom: 20px;
			}

				.blog-article-img img {
					max-width: 100%;
				}

			.blog-article time {
				color: #818181;
			}

			.blog-article h3 {
				font-family: "Montserrat", sans-serif;
				font-weight: bold;
				font-size: 24px;
				line-height: 31px;
				margin: 7px 0 15px;
			}

				.blog-article-title a {
					color: #1e0606;
					text-decoration: none;
				}

			.blog-article p {
				font-size: 18px;
				line-height: 25px;
				margin: 0;
			}

.blog-articles-container .content-pagination {
	margin-top: 16px;
}

.blog-article:hover h3 {
	text-decoration: underline;
}
	
/* VI. CONTACT US
	========================================================================== */

.contact-us {
	padding: 50px 0 60px;
}

.contact-us-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

	.contact-us-form-wrapper {
		background-color: #E5EAF8;
		width: 680px;
		padding: 42px 40px;
	}

	.contact-us-form {
		display: block;
	}

		.contact-us-group {
			display: block;
			width: 100%;
			margin-bottom: 20px;
		}

		.contact-us-row {
			display: flex;
			flex-direction: row;
		}

		.contact-us-row .contact-us-group {
			width: 50%;
		}

		.contact-us-row .contact-us-group:nth-child(odd) {
			margin-right: 20px;
		}

		/*
		.contact-us-input-tel {
			margin-right: 20px;
			
			Это один из вариантов, как я сделал отступ первому блоку
			внутри row, с помощью отдельного класса.

			Оставил пока вариант с нечетными блоками, думаю удобно будет
			при добавлении новых инпутов у всех выбранных в этой группе 
			будет отступ справа.

			Если такой подход удачный, то впоследствии уберу отдельный класс
			для блока с id="phone".
		}
		*/

			.contact-us-label {
				display: block;
				font-size: 14px;
				line-height: 19px;
				margin-bottom: 4px;
			}

			.contact-us-field {
				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 0;
				width: 100%;
				height: 50px;
				padding: 0 18px;
				outline: none;
			}

				.contact-us-field::placeholder {
					color: #1E0606;
					/*font-size: 18px;*/
					
					/*
					В макете размер шрифта у placeholder
					задан отличный от стандартного,
					для соотвествия пока оставил его в коментарии
					*/
					}

			.contact-us-textarea {
				resize: none;
				height: 150px;
				padding: 15px 18px;
			}

		.contact-us-checkbox {
			margin: -5px 0 17px;
			/*
			По макету отступ у контейнера такой же как и у остальных, 
			но из-за чуть сдвинутого вниз переоформленного чекбокса,
			я сделал отступ по лейблу, а не по инпуту
			*/
		}

			.contact-us-checkbox .custom-checkbox + label,
			.popup-body .custom-checkbox + label {
				padding: 3px 0 0 34px;
			}
		
	.contact-us-aside {
		max-width: 380px;
	}

		.contact-us-aside p {
			padding: 0;
			margin: 0 0 20px;
		}

		.contact-us-aside h4 {
			color: #C29974;
			font-family: "Montserrat", sans-serif;
			font-weight: 600;
			font-size: 26px;
			line-height: 32px;
			text-transform: uppercase;
			padding: 0;
			margin: 0 0 20px;
		}

/* VII. FOOTER
    ========================================================================== */

.footer {
	background: #434343;
	color: #fff;
}

/* Footer container */

.footer-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.footer-col {
	min-width: 380px;
	margin: 100px 20px 0 0;
}

.footer-col:last-child {
	margin-right: 0;
}

	.footer-col-title {
		color: #aaaaaa;
		font-weight: 400;
		line-height: 22px;
		text-align: left;
		border-bottom: 1px solid #666;
		padding-bottom: 23px;
		margin: 0;
	}

	.footer-col-list {
		list-style: none;
		padding: 13px 0;
		margin: 0;
	}

		.footer-col-list li {
			margin: 15px 0;
		}

			.footer-col-list a {
				color: #fff;
				line-height: 22px;
				text-decoration: none;
			}

	.footer-col-container {
		width: 100%;
		margin: 0;
		padding: 25px 0;
	}

		.footer-mail-form {
			display: flex;
			flex-direction: row;
		}

			.footer-mail-input {
				background-color: #666;
				outline: none;
				border: none;
				border-radius: 0;
				width: 299px;
				height: 40px;
				padding: 0 15px;
			}

			.footer-mail-input {
				color: #ebebeb;
			}

				.footer-mail-input::placeholder {
					color: #ebebeb;
				}

		.footer-socials-list {
			display: flex;
			flex-direction: row;
			list-style: none;
			padding: 0;
			margin: 25px 0 0;
		}

			.footer-socials-list li {
				margin: 0 10px 0 0;
			}

				/*.footer-col-list a {
					text-decoration: none;
				}*/

.footer-col-list a:hover,
.footer-socials-list a:hover {
	opacity: 0.5;
}

.footer-col-list a:active,
.footer-socials-list a:active {
	opacity: 0.2;
}

.footer-mail-input:hover {
	border: 1px solid #FFFDFD;
	padding-left: 14px;
}

/* Footer bottom */

.footer-bottom-wrapper {
	display: flex;
	flex-direction: row;
	border-top: 1px solid #666;
}

	.footer-bottom-col {
		min-width: 380px;
		margin: 23px 0 100px 20px;
	}

	.footer-bottom-col:first-child {
		align-items: center;
		margin: 23px 0 100px;
	}

		.footer-bottom-col a {
			color: #a2a2a2;
			text-decoration: none;
		}

.footer-bottom-col a:hover {
	color: #fff;
	text-decoration: underline;
}

	/* Star raiting */

	.star-rating {
		display: inline-block;
	}

	.star-rating-fieldset {
		margin: 0;
		padding: 3px 0 0 147px;
		border: none;
		position: relative;
	}

	.star-rating-title {
		cursor: pointer;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
	}

	.star-rating-container {
		position: relative;
		width: 80px;
		height: 16px;
		background-image: url("../img/icons/rating-star-disabled.svg");
		background-size: 16px;
		background-repeat: repeat-x;
	}
	
	.star-rating-fieldset:focus-within {
		outline: solid 1px #fff;
		outline-offset: 5px;
	}
	
		.star-rating-input {
			position: absolute;
			top: 0;
			left: 0;
			width: 16px;
			height: 16px;
			/*margin: 0 3px 0;*/
			/*padding: 0 2px 0;*/
			cursor: pointer;
			font-size: inherit;
			background-size: 16px;
			background-repeat: repeat-x;
			appearance: none;
		}

			.star-rating-input:nth-of-type(1) {
				z-index: 5;
				width: 16px;
			}

			.star-rating-input:nth-of-type(2) {
				z-index: 4;
				width: 32px;
			}

			.star-rating-input:nth-of-type(3) {
				z-index: 3;
				width: 48px;
			}

			.star-rating-input:nth-of-type(4) {
				z-index: 2;
				width: 64px;
			}

			.star-rating-input:nth-of-type(5) {
				z-index: 1;
				width: 80px;
			}

.star-rating-input:focus {
	outline: none;
}

.star-rating-input:checked,
.star-rating-input:hover {
	background-image: url("../img/icons/rating-star-enabled.svg");
}

.star-rating-input:hover ~ .star-rating-input {
	background-image: url("../img/icons/rating-star-disabled.svg");
}

.star-rating:hover {
	color: #C29974;
	/*
	Проверь визуализацию состояний наведения
	для star-raiting, все ли в порядке?
	*/
}

/* VIII. POPUP
    ========================================================================== */

.popup {
	background-color: rgba(125, 151, 218, 0.8);
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.popup:target {
	display: block;
}

	.popup-body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

		.popup-content {
			position: relative;
		}

			.popup-close {
				position: absolute;
				right: -25px;
				top: 0;
			}

.popup-close:hover {
	opacity: 0.5;
}

.popup-close:active {
	opacity: 0.2;
}
